ch8/mask_rcnn_inception_v2_coco_2018_01_28.pbtxt
ch8/frozen_inference_graph.pb
ch8/yolov3.cfg
ch8/yolov3.weights
ch8/mask*
ch8/MobileNetSSD_deploy.caffemodel
ch8/MobileNetSSD_deploy.prototxt
ch8/object_detection_classes_coco.txt
ch8/slow_traffic_small.mp4
ch7/img.png
ch8/yolov3*
ch7/shape_predictor_68_face_landmarks.dat
hw03/record.mp4
hw03/hand.mp4
ch8/fonts/gulim.ttc
ch7/Snowman.mp4
hw02/face2.mp4
ch7/haarcascade_eye.xml
ch7/haarcascade_frontalface_default.xml
*mp4
*.dat
study/01.mp4
ch02/slow_traffic_small.mp4
ch3-1/face2.mp4
study02/ball.png